*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(50, 50, 50);
  height: 100vh;
  width: 100vw;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.game {
  display: flex;
  flex-direction: row;

}


.game .title{
  width: 350px;
  height: 100vh;
  font-size: 30px;
  /* background-color: aliceblue; */
  padding: 50px;
}


.status{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 25px;
  margin-bottom: 25px;
}


.history{
  width: 350px;
  height: 100vh;
  font-size: 30px;
  /* background-color: aliceblue; */
  padding: 50px;
  color: white;
}
.board-design{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title .btn, .title{
  font-size: 20px;
  text-align: center;
  color: white;
}


.history ol li button, .btn{
  border-radius: 5px;
  height: 40px;
  width: 200px;
  background-color: rgb(131, 195, 251);
  /* font-size: 25px; */
  cursor: pointer;
}


.board-row{
  display: flex;
  flex-direction: row;
}

.square{
  background-color: rgb(255, 255, 255);
  height: 100px;
  width: 100px;
  /* margin: 10px; */
  font-size: 50px;
}